@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply border border-gray-200 rounded-md py-1 px-2 block w-full;
}

.label {
  @apply block mb-2;
}

.control {
  @apply mb-4;
}

.button {
  @apply bg-green-500 rounded-md text-white py-1 px-2;
}

.title {
  @apply text-4xl mb-4 font-bold;
}

.subtitle {
  @apply text-2xl mb-4;
}

.lyric {
  @apply bg-green-200 rounded-md py-1 px-2 border border-green-500 text-green-500 mb-2;
}
